header{
    background-color: lightskyblue;    
    text-align: right;
    padding: 0px 15px 10px 10px;
    margin: 10px 10px 10px 10px;
    border: solid;
    border-color: blue;
    border-width: 5px;
}

.title{
    color: aliceblue;
    font-size: 300%;
    font-style: oblique;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 10px;
    padding-right: 10px;
    padding-right: 190px;
    -webkit-text-stroke: 1px black;
}

header img{
    padding-top: 58px;
    padding-right: 10px;
    height: 120px;
    width: 145px;
    float: right;
}

header ul il{
    font-size: 180%;
    background-color: none;
    color: black;
    display: flexbox;
    flex-direction: row;
    padding: 3px;
    margin-bottom: 1px;
}

footer{
    background-color: lightskyblue;
    width: 100%;
    text-align: center;
    border: solid;
    border-width: 4px;
    border-color: blue;
}

header h4{
    font-size: 120%;
}

#foto{
    background-image: url(https://scontent.faep8-3.fna.fbcdn.net/v/t31.18172-8/11088608_10205707777285707_4496258174296969509_o.jpg?_nc_cat=100&ccb=1-7&_nc_sid=8631f5&_nc_eui2=AeHyEZUda_ZGYzlNQB2LujCtZFxwMdzM8oFkXHAx3MzygbLdJNhGA1mtwsESzE3w-rswvakQWlMoQrhSOniKpKJD&_nc_ohc=DPfVrRTHsB4AX-ezvCU&tn=oxF-MqNStBFMMiFa&_nc_ht=scontent.faep8-3.fna&oh=00_AT85iGaE9TQtJZYoghsKNzdJBxiRRo7Yqut7xez5bEJhrw&oe=62DFFED0);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

article{
    background-color: white;
    height: 790px;
    width: 950px;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 45px;
    padding: 8px 15px 10px 20px;
    border: solid;
    border-width: 7px;
    border-color: blue;
    border-radius: 1em;
}

.main_title{
    font-size: 170%;
    font-weight: bolder;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: 10px;
    margin-bottom: 15px;
}

.end_title{
    font-size: 160%;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}

.data{
    font-size: 120%;
    font-weight: lighter;
    line-height: 1.5;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

form h4{
    font-size: 120%;
    margin-bottom: 15px;
    margin-left: 10px;
}

textarea{
    height: 280px;
    width: 850px;
    text-align: left;
    border-width: 5px;
    border-color: rgb(63, 62, 62);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 120%;
    padding: 7px;
    margin: 15px 15px 3px 25px;
}

.comment_title{
    font-size: 110%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 600;
    text-align: center;
}

form div input{
    height: 22px;
    width: 250px;
    font-size: 120%;
    font-family: Arial, Helvetica, sans-serif;
}

footer i{
    font-size: 300%;
}

header h2{
    padding: 0px 190px 7px 10px;
    font-size: 20px;
    font-weight: 500;
}

div input{
    margin-top: 5px;
}

label{
    margin-left: 20px;
}

@media only screen and (min-width: 320px) and (max-width: 576px) {
    textarea {
    width: 420px;
    margin-left: 10px;
    margin-right: 10px;
    }
    header{
        width: 100%;
    }
    img{
        height: 90px;
        width: 112px;
    }
    footer{
        width: 100%;
    }
    article{
        width: 100%;
        height: auto;
        margin: 6px;
    }
}

