header{
    background-color: lightskyblue;    
    text-align: right;
    padding: 0px 15px 10px 10px;
    margin: 10px 10px 10px 10px;
    border: solid;
    border-color: blue;
    border-width: 5px;
}

.title{
    color: aliceblue;
    font-size: 300%;
    font-style: oblique;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 10px;
    padding-right: 10px;
    padding-right: 190px;
    -webkit-text-stroke: 1px black;
}

main h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 300%;
    text-decoration: underline;
    padding-left: 55px;
}

.model{
    height: 140px;
    width: 370px;
    border: solid;
    border-width: 1em;
    background-color: rgba(19, 29, 230, 1);
    margin: 10px 25px 10px 61px;
    padding: 10px 10px 10px 53px;
    overflow: scroll;
    overflow-x: hidden;
}

div h3{
    color: black;
    text-decoration: underline;
    font-weight: bold;
    font-size: 180%;
    font-weight: bolder;
    padding-top: 12px;
    margin-top: 10px;
    margin-bottom: 15px;
}

footer{
    background-color: lightskyblue;
    width: 100%;
    text-align: center;
    border: solid;
    border-width: 4px;
    border-color: blue;
}

p{
    height: auto;
    width: 700px;
    font-size: 17px;
    font-weight: 400;
    line-height: 1.2;
    background-color: rgb(233, 232, 232);
    border-radius: 0.3em;
    padding: 7px 10px 7px 13px;
    margin-left: 380px;
    margin-top: 28px;
    border: solid;
}

#foto{
    background-image: url(https://scontent.faep8-3.fna.fbcdn.net/v/t31.18172-8/11088608_10205707777285707_4496258174296969509_o.jpg?_nc_cat=100&ccb=1-7&_nc_sid=8631f5&_nc_eui2=AeHyEZUda_ZGYzlNQB2LujCtZFxwMdzM8oFkXHAx3MzygbLdJNhGA1mtwsESzE3w-rswvakQWlMoQrhSOniKpKJD&_nc_ohc=DPfVrRTHsB4AX-ezvCU&tn=oxF-MqNStBFMMiFa&_nc_ht=scontent.faep8-3.fna&oh=00_AT85iGaE9TQtJZYoghsKNzdJBxiRRo7Yqut7xez5bEJhrw&oe=62DFFED0);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

header ul il{
    font-size: 180%;
    background-color: none;
    color: black;
    display: flexbox;
    flex-direction: row;
    padding: 3px;
    margin-bottom: 1px;
}

div h4{
    font-size: 118%;
    margin-top: 10px;
    margin-bottom: 15px;
    margin-left: 3px;
}

header img{
    padding-top: 58px;
    padding-right: 10px;
    height: 120px;
    width: 145px;
    float: right;
}

section{
    height: 350px;
    width: 550px;
    margin-top: 20px;
    margin-left: 50px;
    margin-bottom: 40px;
    background-color: white;
    border: solid;
    border-width: 4px;
    border-color: blue;
    border-radius: 2em;
}

footer i{
    font-size: 300%;
}

.news_photo{
    float: left;
    border: solid;
    border-width: 4px;
    height: 290px;
    width: 334px;
}

header h2{
    padding: 0px 190px 7px 10px;
    font-size: 20px;
    font-weight: 500;
}

#news{
    transition: all 2s;
}

#news:hover{
    height: 850px;
    width: 1400px;
}

.model{
    transition: all 1s;
}

.model:hover{
    height: 540px;
    width: 1172px;
}

@media only screen and (min-width: 320px) and (max-width: 576px) {
    header{
        width: 100%;
    }
    img{
        height: 90px;
        width: 112px;
    }
    footer{
        width: 100%;
    }
    article{
        width: 100%;
        height: auto;
        margin: 6px;
    }
}