header{
    background-color: lightskyblue;    
    text-align: right;
    padding: 0px 15px 10px 10px;
    margin: 10px 10px 10px 10px;
    border: solid;
    border-color: blue;
    border-width: 5px;
}

.title{
    color: aliceblue;
    font-size: 300%;
    font-style: oblique;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 10px;
    padding-right: 10px;
    padding-right: 190px;
    -webkit-text-stroke: 1px black;
}

header ul il{
    font-size: 180%;
    background-color: none;
    color: black;
    display: flexbox;
    flex-direction: row;
    padding: 3px;
    margin-bottom: 1px;
}

article h2{
    font-size: 200%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 600;
    text-decoration: underline;
    text-align: center;
    padding-top: 5px;
    margin-top: 8px;
    margin-bottom: 30px;
}

article h3{
    font-size: 150%;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin: 8px 10px 10px 25px;
    text-decoration: underline;
}

article h4{
    font-size: 130%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 400;
    padding: 4px;
    margin: 6px;
}

footer{
    background-color: lightskyblue;
    width: 100%;
    text-align: center;
    border: solid;
    border-width: 4px;
    border-color: blue;
}

header h4{
    font-size: 120%;
}

#foto{
    background-image: url(https://scontent.faep8-3.fna.fbcdn.net/v/t31.18172-8/11088608_10205707777285707_4496258174296969509_o.jpg?_nc_cat=100&ccb=1-7&_nc_sid=8631f5&_nc_eui2=AeHyEZUda_ZGYzlNQB2LujCtZFxwMdzM8oFkXHAx3MzygbLdJNhGA1mtwsESzE3w-rswvakQWlMoQrhSOniKpKJD&_nc_ohc=DPfVrRTHsB4AX-ezvCU&tn=oxF-MqNStBFMMiFa&_nc_ht=scontent.faep8-3.fna&oh=00_AT85iGaE9TQtJZYoghsKNzdJBxiRRo7Yqut7xez5bEJhrw&oe=62DFFED0);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

section article{
    background-color: white;
    height: 710px;
    width: 700px;
    padding: 10px 15px 10px 30px;
    margin-left: 60px;
    margin-top: 30px;
    margin-bottom: 30px;
    border: solid;
    border-width: 7px;
    border-color: blue;
    border-radius: 1em;
}

article img{
    border: solid;
    border-width: 2px;
    border-color: grey;
    height: 130px;
    width: 100px;
}

article p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    font-weight: 230;
    padding-left: 120px;
    margin-bottom: 5px;
    margin-top: 19px;
}

footer i{
    font-size: 300%;
}

header img{
    padding-top: 58px;
    padding-right: 10px;
    height: 120px;
    width: 145px;
    float: right;
}

header h2{
    padding: 0px 190px 7px 10px;
    font-size: 20px;
    font-weight: 500;
}

div img{
    height: 130px;
    width: 100;
    float: left;
    margin-top: 5px;
    bottom: 30px;
    margin-left: 10px;
}

main ul ol{
    margin-left: 0px;
    padding-left: 0px;
}

article div{
    width: 500px;
    margin-left: 25px;
    border: solid;
    border-color: grey;
    border-radius: 4px;
    margin-bottom: 60px;
    height: 260px;
}

@media only screen and (min-width: 320px) and (max-width: 576px) {
    header{
        width: 100%;
    }
    img{
        height: 90px;
        width: 112px;
    }
    footer{
        width: 100%;
    }
    article{
        width: 100%;
        height: auto;
        margin: 6px;
    }
}